<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller="mapCtrl">
  <head>
    <title>Space Manatee</title>
    <h1>Space Manatee</h1>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <h1></h1>

    <div id='journey'>
      <form name="submitForm" ng-submit='submit()'>
        <input type='text' class="submissionfield" id="start" placeholder"Starting location..." ng-model='location.start'>
        <input type="text" class="submissionfield" id="end" placeholder="here are you going?" ng-model='location.end'>
        <button>Let's Go!</button>
      </form>
    </div>
   </br>

<!--     <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style> -->

    <script type="text/javascript" src="https://maps.googleapis.om/maps/api/js?&libraries=places"></script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 37.82, lng: -122.30},
          zoom: 10,
          // disableDefaultUI:true
        };
        var map = new google.maps.Map(document.getElementById('map-canva'),
            mapOptions);
        console.log("MAP: ", map);

      var input1 = document.getElementById('start');
      var input2 = document.getElementById('end');
//       var defaultBounds = new google.maps.LatLngBounds(
//   new google.maps.LatLng(-33.8902, 151.1759),
//   new google.maps.LatLng(-33.8474, 151.2631));

// var options = {
//   bounds: defaultBounds,
//   types: ['establishment']
// };
     var autocomplete1 = new google.maps.places.Autocomplete(input1, null);
     var autocomplete2 = new google.maps.places.Autocomplete(input2, null);

      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

  </head>
  <body>

<div id="map-canvas"></div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="app/app.js"></script>

  </body>
</html>
