<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller="mapCtrl">
<head>
  <title>Road Trip Advisor</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- favicons -->
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Rancho|Lato:300,400,700,300italic,400italic,700italic">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="styles/style.css">

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script type="text/javascript" src="./lib/v3_epoly.js"></script>
  <script>

    var map;
    var directionsDisplay;
    var markerArray = [];
    var stepDisplay;

    function initialize() {

      var mapOptions = {
        center: { lat: 37.82, lng: -122.30},
        zoom: 10,
        disableDefaultUI:false
      };

      map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);

      var input1 = document.getElementById("start");
      var input2 = document.getElementById("end");

      var autocomplete1 = new google.maps.places.Autocomplete(input1, null);
      var autocomplete2 = new google.maps.places.Autocomplete(input2, null);

      directionsDisplay = new google.maps.DirectionsRenderer();
      stepDisplay = new google.maps.InfoWindow();

      directionsDisplay.setMap(map);
    }

    google.maps.event.addDomListener(window, "load", initialize);

  </script>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/autofill-directive/autofill-directive.js"></script>

  <script src="app/service.js"></script>
  <script src="app/app.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="/"><span class="logo-1">Road Trip</span> <span class="logo-2">Advisor</span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#features">About</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <div class="container-fluid search-content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">Plan your trip</h1>
        <div id='journey'>
          <form class="navbar-form navbar-center" name="submitForm" autofill-submit='submit()'>
            <div class="form-group">
              <button class="btn btn-info" id="geolocate" ng-click="useCurrentLocation()">Use Current Location</button>
              <input type="text" autofill class="form-control submissionfield" id="start" placeholder="Starting location..." ng-model="location.start">
              <input type="text" autofill class="form-control submissionfield" id="end" placeholder="Destination..." ng-model="location.end">
            </div><br>
            <div class="btn-group option-btns" data-toggle="buttons">
              <label class="btn btn-info" ng-repeat="option in optionSelections" ng-click="chooseFilter(option)">
                <input type="radio"> {{option.name}}
              </label>
            </div><br>

            <div class="btn-group option-btns" data-toggle="buttons">
              <label class="btn btn-info" ng-repeat="limit in limitSelections" ng-click="chooseLimit(limit)">
                <input type="radio"> {{limit.name}}
              </label>
            </div><br>

            <button type="submit" class="btn btn-success btn-lg">Let's Go!</button>
          </form>
        </div>
      </div><!-- col-lg-12 -->
    </div><!-- row -->
  </div><!-- container-fluid -->

  <div class="container-fluid">
    <div id="warningMsg"></div>
    <main-area></main-area>
    <div id="map-canvas"></div><br>
  </div><!-- container-fluid -->

  <div class="container-fluid top-ten-container" ng-if="!!topTen" ng-model="topTen">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="tagline">Here's our list of top spots along the journey!</h1>
      </div>
    </div>
    <div class="row" ng-repeat="top in topTen" ng-class="{'oddTop10': $odd , 'evenTop10': $even}">
      <div class="col-md-2">
        <img class="top-content" ng-src='{{top["image_url"] ? top["image_url"] : "./images/default.jpg"}}' alt="Sites image not yet available"/>
      </div>
      <div class="col-md-3">
        <div class="top-content">
          <p class="top-name">{{top.name}}</p>
          <p class="top-location">{{top.location.city}}, {{top.location.state_code}}</p>
          <img ng-src='{{top["rating_img_url"]}}' alt="rating not yet available">
          <br>
          <a ng-href='{{top["url"]}}' target="_blank"> Visit on Yelp</a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="top-content">
          <p class="top-snippet">{{top.snippet_text}}</p>
        </div>
      </div>
    </div>
  </div><!-- container-fluid -->

</body>
</html>
