<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller="mapCtrl">
  <head>
    <title>Road Trip Advisor</title>
    <meta charset="UTF-8">


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Rancho|Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Lobster|Rancho' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">

      var map;
      var directionsDisplay;
      var markerArray = [];
      var stepDisplay;

      function initialize() {

        var mapOptions = {
          center: { lat: 37.82, lng: -122.30},
          zoom: 10,
          disableDefaultUI:true
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var input1 = document.getElementById('start');
        var input2 = document.getElementById('end');

        var autocomplete1 = new google.maps.places.Autocomplete(input1, null);
        var autocomplete2 = new google.maps.places.Autocomplete(input2, null);

        directionsDisplay = new google.maps.DirectionsRenderer();
        stepDisplay = new google.maps.InfoWindow();

        directionsDisplay.setMap(map);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

  </head>
  <body>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12">

          <h1 id="title">Road Trip <span>Advisor</span></h1>

          <div id='journey'>
            <form class="navbar-form navbar-center" name="submitForm" autofill-submit='submit()'>

              <div class="form-group">
                <input type="text" autofill class="form-control submissionfield" id="start" placeholder="Starting location..." ng-model="location.start">
                <input type="text" autofill class="form-control submissionfield" id="end" placeholder="Destination..." ng-model="location.end">
              </div><br>
              <select name="serviceSelect" ng-model="optionFilter" ng-options="option.value as option.name for option in optionSelections" class="form-control" id="sel1"></select>
              <button type="submit" class="btn btn-default navbar-btn">Let's Go!</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </form>
          </div><br><br>
          <div class="text-center text-warning bg-warning" ng-if="!!goeCodeNotSuccessful"  ng-model="goeCodeNotSuccessful"> Please enter a countinental location and resubmit.</div>
        </div><!-- col-lg-12 -->
      </div><!-- row -->

      <div id="warningMsg"></div></div>
      <main-area></main-area>
      <div id="map-canvas"></div><br><br><br>

      <div class="row">
        <div class="col-lg-12">
          <div id="topTen" style="margin-left: 20%;margin-right: 20%;vertical-align: middle;text-align: center;"> 
            <div ng-if="!!topTen" ng-model="topTen">
              <h1>Here's our Top 10 favorite spots along the journey! </h1><br>
              <div ng-repeat= "top in topTen" id="topTenList">
                <div ng-class="{'oddTop10': $odd , 'evenTop10': $even}">

                  <img ng-src='{{top["image_url"] ? top["image_url"] : "./images/default.jpg"}}' alt="Sites image not yet available" style="float:left;padding:5px;"/><br>
                  <div style="padding:5px 0 0 0">
                    <div style="font-family: 'Rancho', helvetica, arial;font-size:1.5em;padding-bottom:10px;">{{top.name}} </div>
                    <img ng-src='{{top["rating_img_url"]}}' alt="rating not yet available" /><br>
                    <a ng-href='{{top["url"]}}' target="_blank"> Visit on Yelp</a>
                  </div>
                  <br clear="all">

                </div>
              </div>
            </div>
            <br>
            <br>
          </div>

        </div><!-- col-lg-12 -->
      </div><!-- row -->

    </div><!-- container-fluid -->

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/autofill-directive/autofill-directive.js"></script>

    <script src="app/service.js"></script>
    <script src="app/app.js"></script>

  </body>
</html>
