#title {
  text-align: center;
  float: center;
}

#journey {
  text-align: center;
}

.submissionfield {
  width: 350px;
  height: 15px;
  border: 1px solid #999999;
  padding: 5px;
}

html, body, #map-canvas {
  height: 92%;
  padding: 5;
}
