/* CSS Reset */
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

.title {
  text-align: center;
  float: center;
  padding: 15px 0 15px 0;
}

#journey {
  text-align: center;
}

.submissionfield {
  min-width: 250px;
  border: 1px solid #999999;
  padding: 5px;
}

html, body, #map-canvas {
  height: 92%;
  padding: 5px 15px 15px 15px;
}

#map-canvas {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 500px;
}

body {
  background-image:url('../images/ricepaper_v3.png');
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1, .logo-1 {
  font-family: 'Rancho', Helvetica, Arial, sans-serif;
}

.logo-2 {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
}

.topnav {
  font-size: 16px;
}

.option-btns {
  margin: 10px 0;
}

.search-content {
  padding-top: 40px;
  padding-bottom: 20px;
}

.descriptionDiv {
  background-image:url('../images/polonez_car_yellow.png');
  border: 1px solid red;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.place-name {
  font-size: 2.0em;
}

.tagline {
  text-align: center;
  vertical-align: center;
  padding-bottom: 20px;
}

.oddTop10 {
  background-color: #F8F8F8;
}

.evenTop10 {
  background-image:url('../images/polonez_car_yellow.png');
}

table {
  table-layout: fixed;
}

.top-ten-container {
  vertical-align: middle;
  text-align: left;
  width: 70%;
}

.top-content {
  padding: 15px 0;
  margin-left: auto;
  margin-right: auto;
}

.top-name {
  font-family: 'Rancho', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.top-location {
  padding-bottom: 5px;
}

.top-snippet {
  padding: 10px 5px 0 0;
  font-family: 'Rancho', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
}

.snippet {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  font-size: 1.2em;
}

#warningMsg {
  margin-left: 20%;
  margin-right: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 2.0em;
  font-family: 'Rancho', Helvetica, Arial, sans-serif;
  color: red;
}
